<!DOCTYPE html>
<html>

<head>
    <title>Google Maps Location Selection Example</title>
    {% load static %}
    <style>
       
    </style>
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGAjzYAR434EVUQDnB-L0N2nZ47Itq2c&callback=initMap" async defer></script> {% endcomment %}


    <script src="{% static '/js/drawline.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGAjzYAR434EVUQDnB-L0N2nZ47Itq2c&callback=initMap"></script>
    
  

</head>

<body>
    <div id="map"></div>

    <div id="controls">
        <label>Select location type:</label>
        <select id="locationType">
            <option value="valve">Valve</option>
            <option value="branch">Branch</option>
            <option value="pipe">Pipe</option>
            

        </select>
    </div>
    <button onclick="undo()">Undo</button>
    <button onclick="redo()">Redo</button>
    <button onclick="clearMarkers()">Clear All</button>

    <button onclick="location.reload();">Refresh</button>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;


    <button onclick="displayResults()">Save</button>
    <button onclick="extend_path()">Extend</button>
    <button onclick="delete_marker()">Delete</button>



    <!-- New button to save branch -->
    <button onclick="saveBranch()">Save Branch</button>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}



<script>

    var map;
    var markers = [];
    var lines = [];
    var undoStack = [];
    var redoStack = [];
    var latitudeList = [];
    var longitudeList = [];
    var type = [];

    var positions = [];

    var currentMarkerType; // Global variable to store the type of the current marker


    //for index and path

    var up_index;
    var up_path_id;
    var extend_signal;

    var is_tank;

    
    
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 20.9025, // Latitude of Dhule, Maharashtra
                lng: 74.7774 // Longitude of Dhule, Maharashtra
            },
            zoom: 13,
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.HYBRID
        });

        fetchStoredMarkers();



        google.maps.event.addListener(map, 'click', function (event) {
            var locationType = document.getElementById('locationType').value;
            if (locationType === 'cancel') {
                return;
            }

            currentMarkerType = locationType; // Update the currentMarkerType

            addMarker(event.latLng, locationType);


        });



    }

    


    //show stored markers

    function fetchStoredMarkers() {
        fetch('/get_markers')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    data.markers.forEach(marker => {
                        addStoredMarker(marker.latitude, marker.longitude, marker.type, marker.path_id, marker.point_id);
                        drawLinesBetweenMarkers(data.markers_by_path);

                    });


                    // Draw lines between markers
                    drawTanksOnMap(data.all_tanks);

                    // Draw lines between markers

                } else {
                    console.error('Error fetching stored markers:', data.error);
                }
            })
            .catch(error => {
                console.error('Error fetching stored markers:', error);
            });
    }


    //tanks

    function drawTanksOnMap(tanks) {
        tanks.forEach(tank => {
            // Create a marker for each tank
            var tankMarker = new google.maps.Marker({
                position: { lat: parseFloat(tank.latitude), lng: parseFloat(tank.longitude) },
                map: map,
                icon: '{% static 'tank.png' %}',  // Use the appropriate tank icon
                // You may customize other properties of the marker as needed
            });
    
            // Add click event listener to the tank marker
            tankMarker.addListener('click', function() {
                
                // Clear previous lines if any
                clearLines();
    
                // Add the tank marker as the first marker
                selectedMarkers = [tankMarker];
                currentMarkerType = "tank";
                // Start drawing a line from this tank
                startLineFromTank(tankMarker.getPosition());
            });
        });
    }
    



    function drawLinesBetweenMarkers(markersByPath) {

        for (var pathId in markersByPath) {
            var pathPoints = markersByPath[pathId];
            var path = [];
            pathPoints.forEach(point => {
                path.push({ lat: point[0], lng: point[1] });
            });

            var line = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#004eff', // Change the stroke color if needed
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
            lines.push(line);
        }
    }



    //to clear prev lines
    
    function clearLines() {
        for (var i = 0; i < lines.length; i++) {
            lines[i].setMap(null);
        }
        lines = [];
    }
    
    function startLineFromTank(tankPosition) {
        google.maps.event.addListenerOnce(map, 'click', function (event) {
            var line = new google.maps.Polyline({
                path: [tankPosition, event.latLng],
                geodesic: true,
                strokeColor: '#ff8f00',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
            lines.push(line);
        });
    }
    


    // draw line between saved marker


    function addStoredMarker(latitude, longitude, type, path_id, point_id) {
        var iconUrl = getIconForType(type);
        var marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            draggable: false, // Assuming stored markers are not draggable
            icon: iconUrl,
            pathId: path_id, // Set the path ID here
            pointId: point_id // Set the point ID here
        });

        markers.push(marker);

        marker.addListener('click', function () {
            handleMarkerClick(marker);
        });
    }



    //

    var selectedMarkers = []; // Array to store selected markers


    function addMarker(location, type) {
        var info = { type: type };
        if (type === 'valve') {
            info.name = "v1";
            info.keySize = "def";
        } else if (type === 'pipe') {
            info.pipeType = "p1";
            info.pipeSize = "def";
        }
    
        // Set marker type to 'tank' if it is 'None'
        if (type === 'None') {
            type = 'tank';
        }
    
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            icon: getIconForType(type),
            info: info
        });
    
        selectedMarkers.push(marker);
    
        if (selectedMarkers.length > 1) {
            // Draw line between the newly added marker and the previous marker
            var previousMarker = selectedMarkers[selectedMarkers.length - 2];
            var line = new google.maps.Polyline({
                path: [previousMarker.getPosition(), location],
                geodesic: true,
                strokeColor: '#ff8f00',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
            lines.push(line);
        }
    
        addToUndoStack({ action: 'add', marker: marker });
    
        clearRedoStack();
    }
    

    /*function addMarker(location, type) {
        var info = { type: type };
        if (type === 'valve') {
            info.name = "v1";
            info.keySize = "def";
            //info.name = prompt('Enter valve name:');
            //info.keySize = prompt('Enter valve key size:');
        } else if (type === 'pipe') {
            info.pipeType = "p1";
            info.pipeSize = "def";
            //info.pipeType = prompt('Enter pipe type:');
            //info.pipeSize = prompt('Enter pipe size:');
        }

        var marker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            icon: getIconForType(type),
            info: info
        });

        selectedMarkers.push(marker);

        if (selectedMarkers.length > 1) {
            // Draw line between the newly added marker and the previous marker
            var previousMarker = selectedMarkers[selectedMarkers.length - 2];
            var line = new google.maps.Polyline({
                path: [previousMarker.getPosition(), location],
                geodesic: true,
                strokeColor: '#ff8f00',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
            lines.push(line);
        }

        addToUndoStack({ action: 'add', marker: marker });

        clearRedoStack();
    }*/





    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
        for (var j = 0; j < lines.length; j++) {
            lines[j].setMap(null);
        }
        lines = [];
        undoStack = [];
        redoStack = [];
        latitudeList = [];
        longitudeList = [];
    }

    function undo() {
        if (undoStack.length === 0) {
            return;
        }
        var action = undoStack.pop();
        if (action.action === 'add') {
            action.marker.setMap(null);
            markers.pop();
            latitudeList.pop();
            longitudeList.pop();
            if (action.line) {
                action.line.setMap(null);
                lines.pop();
            }
            addToRedoStack(action);
        }
    }

    function redo() {
        if (redoStack.length === 0) {
            return;
        }
        var action = redoStack.pop();
        if (action.action === 'add') {
            action.marker.setMap(map);
            markers.push(action.marker);
            latitudeList.push(action.marker.getPosition().lat());
            longitudeList.push(action.marker.getPosition().lng());
            if (action.line) {
                action.line.setMap(map);
                lines.push(action.line);
            }
            addToUndoStack(action);
        }
    }

    function addToUndoStack(action) {
        undoStack.push(action);
    }

    function addToRedoStack(action) {
        redoStack.push(action);
    }

    function clearRedoStack() {
        redoStack = [];
    }

    function getIconForType(type) {
        switch (type) {
            case 'valve':
                return '{% static 'valve.png' %}'; // Valve icon
            case 'branch':
                return '{% static 'branch.png' %}'; // Branch icon
            case 'pipe':
                return 'None'; // Pipe icon

            case 'tank':
                return '{% static 'tank.png' %}'

            case 'None':
                return  'None';
                
            default:
                return null;
        }
    }

    function displayResults() {
        console.log("Selected Markers: ", selectedMarkers);
    


        // Extract latitude, longitude, and type from selected markers
        var selectedMarkersData = selectedMarkers.map(function (marker) {
            
                var data = {
                    latitude: marker.getPosition().lat(),
                    longitude: marker.getPosition().lng(),
                };
            
              
                data.type = marker.info ? marker.info.type : null;// Assuming type is stored in the marker's info property
                
                
            
                return data;

        });

        // Save selected markers
        fetch('/save_markers', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Add CSRF token if required
            },
            body: JSON.stringify({
                markers: selectedMarkersData,

            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Selected markers saved successfully!');
                    console.log(selectedMarkersData);
                } else {
                    console.error('Error saving selected markers:', data.error);
                }
            })
            .catch(error => {
                console.error('Error sending AJAX request:', error);
            });
    }

    // Function to handle marker clicks

    function handleMarkerClick(marker) {
        // Get marker path ID and point ID
        var pathId = marker.pathId;
        var pointId = marker.pointId;
        up_path_id = pathId;
        up_index = pointId;
       
        console.log('Marker clicked! Path ID:', up_path_id, 'Point ID:', up_index);
        

        selectedMarker = marker; 

        google.maps.event.addListenerOnce(map, 'click', function (event) {
            drawLineFromSelectedMarker(event.latLng);
        });

        // Increment pointId
        var newPointId = pointId + 1; // Assuming pointId is a numeric value

        // Call a function to extend the marker or line with the new pointId
        extendMarkerOrLine(marker, newPointId);

        //for branch

        // Check if the clicked marker is of type "branch"
        if (marker.info && marker.info.type === 'branch') {
            // Listen for a click event on the map to draw a line from the "branch" marker
            google.maps.event.addListenerOnce(map, 'click', function (event) {
                drawLineFromBranch(marker, event.latLng);
            });
        }
        
    }


    function drawLineFromSelectedMarker(position) {
        if (selectedMarker) {
            var line = new google.maps.Polyline({
                path: [selectedMarker.getPosition(), position],
                geodesic: true,
                strokeColor: '#ff8f00',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
            lines.push(line);

            addToUndoStack({ action: 'add', line: line });

            clearRedoStack();
        }
    }

    // Function to extend the marker or line with a new pointId
    // Function to extend the marker or line with a new pointId
    function extendMarkerOrLine(marker, newPointId) {
        // Here you can implement the logic to extend the marker or line with the new pointId
        // For example, if you want to extend the line:
        // Find the line associated with the marker
        var associatedLine = findLineByMarker(marker);
        if (associatedLine) {
            // Extend the line by adding a new point with the newPointId
            var newPath = associatedLine.getPath();
            newPath.push(marker.getPosition());

            // Update the marker's pointId
            marker.pointId = newPointId;

            // Send an AJAX request to save the updated marker's pointId
            saveMarkerPointId(marker, newPointId);
        }

        // You can add similar logic for extending the marker itself
    }



    function saveMarkerPointId(marker, newPointId) {
        fetch('/update_marker_point', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Add CSRF token if required
            },
            body: JSON.stringify({
                marker_id: marker.id,
                new_point_id: newPointId,
                path_id: marker.pathId,
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Marker pointId updated successfully:', marker.id);
                // Update the marker's pointId
                marker.pointId = newPointId;
            } else {
                console.error('Error updating marker pointId:', data.error);
            }
        })
        .catch(error => {
            console.error('Error updating marker pointId:', error);
        });
    }



    function findLineByMarker(marker) {
        for (var i = 0; i < lines.length; i++) {
            var line = lines[i];
            if (line.getPath().getArray().includes(marker.getPosition())) {
                return line;
            }
        }
        return null;
    }


    function extend_path() {
        console.log("Selected Markers: ", selectedMarkers);
    


        // Extract latitude, longitude, and type from selected markers
        // Extract latitude, longitude, and type from selected markers
        var selectedMarkersData = selectedMarkers.map(function (marker) {
            var data = {
                latitude: marker.getPosition().lat(),
                longitude: marker.getPosition().lng(),
            };

            // Check if is_tank is equal to "yes"
           
                 // If is_tank is not "yes", set the type based on marker's type
                data.type = marker.info.type; // Assuming type is stored in the marker's info property
        

            return data;
        });


        // Save selected markers
        fetch('/extend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Add CSRF token if required
            },
            body: JSON.stringify({
                markers: selectedMarkersData,
                up_index:up_index,
                up_path_id:up_path_id,

            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Selected markers saved successfully!');
                    console.log(selectedMarkersData);
                } else {
                    console.error('Error saving selected markers:', data.error);
                }
            })
            .catch(error => {
                console.error('Error sending AJAX request:', error);
            });
    }

    

    function delete_marker() {
        

        if (confirm("are you  sure to remove this point?") == true) {
            window.location.href='/delete_marker/'+up_path_id+"/"+up_index;
            
          } else {
            text = "You canceled!";
          }


    }



    //for branch



    // Function to draw a line from a "branch" marker
function drawLineFromBranch(branchMarker, position) {
    // Draw a line from the "branch" marker to the clicked position
    var line = new google.maps.Polyline({
        path: [branchMarker.getPosition(), position],
        geodesic: true,
        strokeColor: '#ff8f00',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        map: map
    });
    lines.push(line);

    // Save the drawn line with the first marker as type "branch"

}

// Function to save the drawn line with the first marker as type "branch"


    </script>


  </body>